# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django archives
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.sqlite3

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env vars / secrets
.env
.env.*

# Coverage / test
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Build artifacts
build/
dist/
*.egg-info/

# MyPy / Ruff / Pyright / etc
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/
.pyright/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
